<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true">
	<php>
		<const name="WP_TESTS_DOMAIN" value="example.org" />
		<const name="WP_TESTS_EMAIL" value="admin@example.org" />
	</php>
	<testsuites>
		<testsuite name="unit">
			<directory prefix="test-" suffix=".php">tests/unit</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>ms-required</group>
		</exclude>
	</groups>
</phpunit>
