#ssl_alp_revision_post_edit_summary_input {
    margin-top: 5px;
}

div.ssl-alp-misc-pub-edit-summary:before {
    /* copied from .misc-pub-post-status */
    font: 400 20px/1 dashicons;
    display: inline-block;
    margin-left: -1px;
    padding-right: 3px;
    vertical-align: top;
    color: #82878c;
    content: "\f464"; /* pencil icon */
}

table.ssl-alp-builtin-settings {
    margin-bottom: 15px;
}

table.ssl-alp-builtin-settings td.desc {
    font-style: italic;
}

table.ssl-alp-builtin-settings th.column-setting {
    width: auto;
}

table.ssl-alp-builtin-settings th.column-control {
    width: 15%;
}

div.ssl-alp-tools-cards {
    display: block;
    width: 100%;
}

div.ssl-alp-tools-card {
    position: relative;
    clear: both;
    float: left;
    outline: 0;
    min-width: 400px;
    max-width: 800px;
    margin: 20px 10px 0 10px;
    padding: .7em 2em 1em;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
}

/* fix Gutenberg bug: https://github.com/WordPress/gutenberg/issues/10834 */
.components-base-control .components-base-control__help {
    margin-top: 0 !important;
}

.ssl-alp-text-added {
    color: #006505;
}

.ssl-alp-text-removed {
    color: #a00;
}

.ssl-alp-application-revoke {
    color: #a00;
}

.ssl-alp-application-revoke:hover {
    color: #dc3232;
}

pre.ssl-alp-application-password {
    margin: 0;
    white-space: pre-wrap;
}
